APCA_API_KEY_ID = "PKPV734UXW2KGYWA5AX2OIC5PV"
APCA_API_SECRET_KEY = "54fej2LtALU4J2oVUJi3kzALMg1mARPkbzkeuJyqrue1"
APCA_PAPER = true

GEMINI_API_KEY = "AQ.Ab8RN6KKm2NHGS9yvH8SwtkXYjSZwH84UtSm2uKiTg3F6zT6ug"
GEMINI_MODEL = "gemini-3.6-flash"

FEATHERLESS_API_KEY = "rc_9af733252be1f55cd5690f9dc51d034d14cddaad44415ccf85733b427f853fbb"
FEATHERLESS_MODEL = "Qwen/Qwen2.5-72B-Instruct"

GOOGLE_CLIENT_ID = "1089476456387-k855gi7duk00sk7vc4ovfleqff1n65pq.apps.googleusercontent.com"
GOOGLE_REDIRECT_URI = "https://pdsxfvde8qf8e9bpvntkz9.streamlit.app/"

ADMIN_EMAIL = "dhanushkayala114@gmail.com"
